/***************************************** Hero section **********************************************************************************/

.header__section {
  padding-bottom: 250px;
  background-color: #dfbf7d;
  display: flex;
  gap: 50px;
  margin-top: 20px;
  padding-right: 60px;
}
.header__section img {
  z-index: 1000;
  width: 500px;
  height: 1400px;
  flex-shrink: 0;
}
.header__inner__con h2 {
  color: #6d0f43;
  font-family: "Murtaugh Condensed L";
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 114%; /* 54.72px */
  max-width: 620px;
}

.header__text {
  margin-top: 50px;
  color: #6d0f43;
  font-family: "Murtaugh Condensed L";
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 93%; /* 113.434px */
}

.header__p {
  display: flex;
  gap: 3rem;
  margin: 1rem 0;
}

.header__p p {
  max-width: 570px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: #6d0f43;
  font-family: Roboto;
  line-height: 146%; /* 40.88px */
}

/***************************************** Button section **********************************************************************************/

.button {
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 0;
}

.button__con {
  color: #6d0f43;
  font-family: "Murtaugh Condensed L";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.08px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #000;
  text-decoration-thickness: 8.5%; /* 3.06px */
  border: none;
}

.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

/***************************************** Who we are section **********************************************************************************/

.comment__section {
  background: #e3ead8;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50rem); /* Equivalent to -30px */
}

.comment__con {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.whoweare__section h1 {
  color: #6d0f43;
  text-align: center;
  font-family: "Murtaugh Condensed L";
  font-size: 80.972px;
  font-style: normal;
  font-weight: 700;
  line-height: 93%; /* 113.434px */
}

.whoweare__section h2 {
  color: #6d0f43;
  text-align: center;
  font-family: "Murtaugh Condensed L";
  font-size: 80.972px;
  font-style: normal;
  font-weight: 700;
  line-height: 93%; /* 113.434px */
}

.whoweare__section {
  background: #e3ead8;
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50rem); /* Equivalent to -30px */
}

.whoweare__con {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.box {
  display: flex;
  justify-content: center;
  padding: 80px;
}
.box_1 h2 {
  color: #044623;
  text-align: center;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
}
.box_1 h3 {
  color: #6d0f43;
  text-align: center;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
}

.box_1 h4 {
  color: #6d0f43;
  text-align: center;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.box_1 p {
  color: #044623;
  text-align: center;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  max-width: 322px;
}
.box_1 {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.box img {
  width: 550px;
  height: 400px;
  flex-shrink: 0;
}

.box__3 {
  display: flex;
  justify-content: center;
  padding: 80px;
  gap: 2rem;
}

.box {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.box_2 h3 {
  color: #6d0f43;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  /* width: 357px; */
}

.box_2 h6 {
  color: #6d0f43;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  margin: 2rem 0;
}

/***************************************** Purpose section **********************************************************************************/

.Purpose__section {
  background: #6a7e5b;
  padding: 80px;
  transform: translateY(-50rem); /* Equivalent to -30px */
}
.Purpose__section h1 {
  color: #6a7e5b;
  font-family: "Murtaugh Condensed L";
  font-size: 94.292px;
  font-style: italic;
  font-weight: 900;
  line-height: 94%; /* 88.634px */
  letter-spacing: -2.829px;
}

.Purpose__con {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.Purpose__text {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
.Purpose__text h2 {
  width: 925px;
  color: #e3ead8;
  font-family: "Murtaugh Condensed L";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 119%; /* 57.12px */
}

.Purpose__heading h1 {
  color: #6a7e5b;
  font-family: "Murtaugh Condensed L";
  font-size: 94.292px;
  font-style: italic;
  font-weight: 900;
  line-height: 94%; /* 88.634px */
  letter-spacing: -2.829px;
}

.Purpose__heading p {
  color: #e3ead8;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 146%; /* 40.88px */
}

.paw__image img {
  width: 400.299px;
  height: 400.651px;
  /* transform: rotate(11.75deg) translateY(-8rem) translateX(2rem); */
  flex-shrink: 0;
}

.our__service__heading {
  color: #dfbf7d;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 126px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%; /* 137.34px */
  letter-spacing: -2.52px;
  max-width: 615px;
}

/***************************************** tokenomics section **********************************************************************************/

.tokenomics__section {
  background: #6a7e5b;
  padding: 80px;
  transform: translateY(-50rem); /* Equivalent to -30px */
}
.tokenomics__header {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-end;
}
.tokenomics__header h1 {
  color: #dfbf7d;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 126.452px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.2px; /* 95.056% */
  width: 547px;
}
.start__bling {
  display: flex;
  gap: 30px;
}

.tokenomics {
  display: flex;
  gap: 12rem;
}

.tokenomics li {
  color: #dfbf7d;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 76px; /* 190% */
}
.tokenomics__container img {
  width: 351.87px;
  height: 1243.31px;
  flex-shrink: 0;
}
/***************************************** Service section **********************************************************************************/

.our__service__section {
  padding: 96px;
  background: #6d0f43;
  transform: translateY(-50rem); /* Equivalent to -30px */
}
.our__service {
  text-align: left;
}

.our__service__con {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.Jup__button button {
  border-radius: 6px;
  border: 2px solid #dfbf7d;
  padding: 10px;
  background: transparent;
  color: #dfbf7d;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
}

.jupiter__image img {
  max-width: 551px;
  height: 816px;
  flex-shrink: 0;
}

.service__title {
  display: flex;
  width: 100px;
  font-weight: 500;
  color: var(--Dodger-Blue-800, #0870c5);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 8px;
  border: 1px solid var(--Blue-200, #b2ddff);
  border-radius: 16px;
  background: var(--Blue-50, #eff8ff);
  margin-bottom: 40px;
}

.our__service__heading {
  color: #dfbf7d;
  font-family: GroteskRemix-Monospace-trial;
  font-size: 126px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%; /* 137.34px */
  letter-spacing: -2.52px;
  max-width: 615px;
}

/***************************************** Destination section **********************************************************************************/

.destination__section {
  display: flex;
  padding: 96px;
  flex-direction: column;
}
.destination__heading {
  font-size: 48px;
  font-weight: 400;
  color: var(--Shark-700, #4c4d58);
}

.destination__con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}

.destination__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.explore-button {
  color: white;
  cursor: pointer;
}

.image__con {
  height: 480px;
  width: 100%;
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 20px);
  background-size: cover;
  background-position: center;
  margin: 10px;
  border-radius: 8px;
  color: white;
}

.inside__image__text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 35px;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.inside__image__text h1 {
  padding: 8px 16px;
  border-radius: 8px;
  border: 0.769px solid rgba(255, 255, 255, 0.26);
  background: rgba(90, 104, 165, 0.13);
  backdrop-filter: blur(6.92307710647583px);
}

.inside__image__text p {
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-weight: 500;
  border-radius: 138.462px;
  border: 0.769px solid rgba(255, 255, 255, 0.26);
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6.92307710647583px);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.inside__image__text p:hover {
  transform: scale(1.05); /* Slightly increase size */
}

.inside__image__text p:hover svg {
  transform: translateX(5px); /* Slightly move the arrow to the right */
}

.arrow-icon-font-awesome2 {
  font-size: 40px; /* Adjust the size of the Font Awesome icon */
  color: rgb(0, 0, 0); /* Make the icon white */
  background: #eff8ff;
  border-radius: 50%; /* Make it circular */
  padding: 2px; /* Add some padding to make it look like a button */
  margin-left: 10px; /* Space between the text and the icon */
  transform: rotate(-40deg); /* Rotate the icon by 45 degrees */
}

/***************************************** Team section **********************************************************************************/

.team__section {
  padding: 96px;
}

.team__heading {
  font-size: 48px;
  font-weight: 400;
  color: var(--Shark-700, #4c4d58);
}

.team__con {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem;
}

.team__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.team__image__con {
  height: 400px; /* Adjust as needed */
  width: calc(33.33% - 20px);
  flex: 1 1 calc(50% - 10px); /* Each image takes 50% width minus the gap */
  max-width: calc(
    33.33% - 20px
  ); /* Prevents exceeding a third of the container */
  background-size: cover;
  background-position: initial;
  margin: 10px; /* Adjust spacing as needed */
  color: white;
  transition: box-shadow 0.3s ease;
}

.team__image__con:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
}

.team__text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.team__bg {
  padding: 16px;
  backdrop-filter: blur(6.92307710647583px);
  background: #00000033;
  width: 100%;
}

/***************************************** Footer section **********************************************************************************/

.location__section {
  transform: translateY(-50rem); /* Equivalent to -30px */
  background: #e3ead8;
}

.location__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.location__con {
  padding: 96px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 64px;
}
.location__header h1 {
  color: #6d0f43;
  font-family: "Murtaugh Condensed L";
  font-size: 121.972px;
  font-style: normal;
  font-weight: 700;
  line-height: 93%; /* 113.434px */
}

.location__con {
  max-width: 2280px;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.location__sub {
  margin-top: 80px;
  border-top: 3px solid var(--Dodger-Blue-800, #0870c5);
}

.location__con h1 {
  font-size: 40px;
  font-weight: 400;
  color: var(--Gray-900, #101828);
  margin-bottom: 60px;
}

.location__sub h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

.location__sub p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  color: var(--Shark-500, #737584);
}
.dogpic {
  width: 100%;
  max-width: 1422px;
  height: 711px;
}
.dogtext {
  display: flex;
  gap: 4rem;
}
.dogtext h2 {
  padding: 30px 0;
  color: #6d0f43;
  font-family: Roboto;
  font-weight: 500;
  line-height: 146%; /* 40.88px */
  font-size: 28px;
  text-align: left;
}

/***************************************** Media query **********************************************************************************/
/* @media (max-width: 2680px) {
  
    .whoweare__section {
  
      padding: 10px 400px;
   
    }
  
    .comment__section {
      padding: 450px;
    }
  
    .our__service__section {
      padding: 10px 400px;
      
    }
  
    .destination__section {
      padding: 400px;
    }
  
    .testimonial__section {
      padding: 400px;
   
    }
  
    .location__section {
      padding: 400px;
  
    }
    .team__section {
      padding: 400px;
  
    }
  
  
   
  } */

@media (max-width: 1200px) {
  .header__section {
    padding-bottom: 10px 400px;
  }

  .header__inner__con {
    gap: 2rem;
  }

  .header__text {
    margin-top: 85px;
    font-size: 50px;
    max-width: 600px;
    line-height: 120%; /* 57.6px */
  }

  .header__p {
    font-size: 18px;
    max-width: 480px;
  }

  /***************************************** Who we are section **********************************************************************************/

  .whoweare__section {
    padding: 30px;
    transform: translateY(-10rem);
    margin-bottom: 2px;
  }
  .whoweare__con {
    flex-direction: column;
  }

  .img__con {
    max-width: 800px;
    width: 100%;
  }
  .img__con img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .box {
    display: flex;
    gap: 18px;
    margin-top: 40px;
  }

  /***************************************** Comment section **********************************************************************************/

  .comment__section {
    padding: 30px;
    margin-bottom: 6rem;
  }

  .comment__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 480px;
    gap: 20px;
    padding: 0 90px;
  }

  .comment__heading {
    font-size: 32px;
  }
  .comment__con p {
    font-size: 16px;
  }

  .comment__con img {
    width: 10%;
    height: auto;
  }

  /***************************************** Service section **********************************************************************************/

  .our__service__section {
    padding: 30px;
    overflow: hidden;
    margin-bottom: 6rem;
  }
  .our__service__con {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .service__title {
    margin-bottom: 20px;
  }

  .our__service__heading {
    font-size: 32px;
    margin-right: 6px;
  }
  .image_set {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .image_set img {
    width: 300px;
  }

  /***************************************** Destination section **********************************************************************************/

  .destination__section {
    padding: 30px;
    margin-bottom: 6rem;
  }
  .destination__heading {
    font-size: 40px;
  }

  .image__con {
    max-width: 457px;
    width: 100%;
  }

  /***************************************** Testimonial section **********************************************************************************/

  .testimonial__section {
    padding: 30px;
    gap: 64px;
    margin-bottom: 6rem;
  }

  .testimonial__heading {
    font-size: 40px;
    width: 100%;
  }

  .testimonial__con {
    gap: 2rem;
  }

  .testimonial__con img {
    width: 20%;
  }

  .testimonial__sub h2 {
    width: 606px;
  }

  .testimonial__cap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .testimonial__icon {
    gap: 10px;
  }

  .testimonial__swiper {
    width: 100%; /* Full width of the container */
    margin: 20px auto; /* Center the Swiper and add vertical space */
    max-width: 1200px; /* Optional: limit the max width for larger screens */
  }

  .testimonial__swiper {
    width: 100%;
    height: 30vh;
  }

  /***************************************** Team section **********************************************************************************/

  .team__section {
    padding: 30px;
    margin-bottom: 150px;
  }

  .team__heading {
    font-size: 40px;
  }

  .team__con {
    flex-direction: column;
    gap: 3rem;
  }

  .team__img {
    width: 100%;
  }

  .team__image__con {
    height: 400px;
    width: 100%;
    max-width: calc(50% - 20px);
    margin: 10px; /* Adjust spacing as needed */
  }

  /***************************************** Footer section **********************************************************************************/

  .location__section {
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .header__section {
    padding-bottom: 400px;
    flex-direction: column-reverse;
    padding: 16px;
  }

  .header__section img {
    z-index: 1000;
    width: 300px;
    height: 800px;
    flex-shrink: 0;
  }

  .header__inner__con {
    gap: 2rem;
  }

  .header__text {
    margin-top: 200px;
    font-size: 75.762px;
    max-width: 400px;
    line-height: 120%; /* 57.6px */
  }

  .header__p {
    font-size: 16px;
    flex-direction: column;
  }

  /***************************************** Button section **********************************************************************************/

  .button__con {
    padding-left: 32px;
    font-size: 16px;
  }

  .arrow-icon-font-awesome {
    font-size: 60px;
  }

  /***************************************** Who we are section **********************************************************************************/

  .whoweare__section {
    padding: 1rem;
    transform: translateY(-10rem);
    margin-bottom: 2px;
  }
  .whoweare {
    margin-top: 50px;
  }
  .whoweare h2 {
    font-size: 25px;
  }

  .whoweare p {
    width: 7rem;
    padding: 4px 12px;
    margin-bottom: 8px;
  }

  .whoweare__con {
    padding: 0 16px;
    align-items: center;
    flex-direction: column;
    gap: 64px;
  }

  .img__con {
    max-width: 800px;
    width: 100%;
  }
  .img__con img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .box {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    flex-wrap: nowrap;
    gap: 18px;
    flex: 0 0 0;
    margin-top: 40px;
  }

  .box_1 {
    display: flex;
    padding: 16px 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--Shark-200, #d9d9de);
    height: 176px;
    width: 100%;
  }

  .box_1 h3 {
    font-size: 30px;
  }

  .box_1 h6 {
    font-size: 16px;
  }

  /***************************************** Comment section **********************************************************************************/

  .comment__section {
    padding: 16px;
    margin-bottom: 6rem;
  }

  .comment__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 480px;
    gap: 20px;
    padding: 0 20px;
  }

  .comment__heading {
    font-size: 32px;
  }
  .comment__con p {
    font-size: 16px;
  }

  .comment__con img {
    width: 10%;
    height: auto;
  }

  /***************************************** Service section **********************************************************************************/

  .our__service__section {
    padding: 16px;
    overflow: hidden;
    margin-bottom: 6rem;
  }
  .our__service__con {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .service__title {
    margin-bottom: 20px;
  }

  .our__service__heading {
    font-size: 32px;
    margin-right: 6px;
  }
  .image_set {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .image_set img {
    width: 300px;
  }

  /***************************************** Destination section **********************************************************************************/

  .destination__section {
    padding: 16px;
    margin-bottom: 6rem;
  }
  .destination__heading {
    font-size: 32px;
  }

  /* .destination__con {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 44px;
    } */
  /* 
    .destination__img {
      display: flex;
      flex-wrap: wrap;
    } */

  .image__con {
    max-width: 347px;
  }

  .inside__image__text {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 35px;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%; /* Adjust as needed */
  }

  .inside__image__text h1 {
    padding: 8px 16px;
    border-radius: 8px;
    border: 0.769px solid rgba(255, 255, 255, 0.26);
    background: rgba(90, 104, 165, 0.13);
    backdrop-filter: blur(6.92307710647583px);
  }

  .inside__image__text p {
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-weight: 500;
    border-radius: 138.462px;
    border: 0.769px solid rgba(255, 255, 255, 0.26);
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(6.92307710647583px);
    cursor: pointer;
  }
  .arrow-icon-font-awesome2 {
    font-size: 40px; /* Adjust the size of the Font Awesome icon */
    color: rgb(0, 0, 0); /* Make the icon white */
    background: #eff8ff;
    border-radius: 50%; /* Make it circular */
    padding: 2px; /* Add some padding to make it look like a button */
    margin-left: 10px; /* Space between the text and the icon */
    transform: rotate(-40deg); /* Rotate the icon by 45 degrees */
  }

  /***************************************** Testimonial section **********************************************************************************/

  .testimonial__section {
    padding: 16px;
    gap: 64px;
    margin-bottom: 6rem;
  }

  .testimonial__heading {
    font-size: 32px;
    width: 100%;
  }

  .testimonial__con {
    flex-direction: column;
    gap: 2rem;
  }

  .testimonial__con img {
    cursor: pointer;
    width: 30%;
  }
  .testimonial__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .testimonial__sub h2 {
    width: 306px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: var(--Gray-900, #101828);
    margin-bottom: 40px;
  }

  .testimonial__cap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .testimonial__icon {
    gap: 10px;
  }

  .testimonial__swiper {
    width: 100%; /* Full width of the container */
    margin: 20px auto; /* Center the Swiper and add vertical space */
    max-width: 1200px; /* Optional: limit the max width for larger screens */
  }

  .testimonial__swiper {
    width: 100%;
    height: 56vh;
  }

  .team__section {
    padding: 16px;
    margin-bottom: 130px;
  }

  .team__heading {
    font-size: 32px;
  }

  .team__con {
    flex-direction: column;
    gap: 3rem;
  }

  .team__img {
    width: 100%;
  }
  .team__text h1 {
    font-size: 20px;
  }

  .team__image__con {
    height: 400px;
    width: 100%;
    max-width: 500px; /* Prevents exceeding a third of the container */
    margin: 10px; /* Adjust spacing as needed */
  }

  /***************************************** Footer section **********************************************************************************/

  .location__section {
    padding: 16px;
    text-align: center;
    align-items: center;
    gap: 64px;
  }

  .location__con {
    max-width: 1280px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }

  .location__sub {
    margin-top: 80px;
    border-top: 3px solid var(--Dodger-Blue-800, #0870c5);
  }

  .location__con h1 {
    font-size: 30px;
    font-weight: 400;
    color: var(--Gray-900, #101828);
    margin-bottom: 60px;
  }
  /* 
    .location__sub h2 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 30px;
    }
  
    .location__sub p {
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
      color: var(--Shark-500, #737584);
    } */
}
